body {
  background-color: #4d7e4b;
  transition: all 1s;
}

form {
  background-color: rgb(197, 151, 151);
  padding: 20px;
}

.ninjas {
  background-color: #fff;
  padding: 20px;
}

.ninja-name {
  background-color: #fffaaf;
  padding: 5px;
  display: inline;
  margin: 5px;
}

.ninja-age {
  background-color: #c2ffaf;
  padding: 5px;
  display: inline;
  margin: 5px;
}

.ninja-belt {
  background-color: #b2f0f8;
  padding: 5px;
  display: inline;
  margin: 5px;
}
